:root {
    --bg-color: #100736;
    --font-color: #D6D6D6;
    --gray-font-color: #3D3D3D;
    --secondary-blue: #1a0c5a;

    --action-color: #FFD300;
    --adventure-color: #E07800;
    --animation-color: #ade8f4;
    --comedy-color: #faa307;
    --crime-color: #ba181b;
    --documentary-color: #ffff3f;
    /*--drama-color: #560bad;*/
    --drama-color: #c8b6ff;
    --famili-color: #ffb700;
    --fantasy-color: #7209b7;
    --history-color: #e8ac65;
    --horror-color: #6a040f;
    --music-color: #81b71a;
    --mistery-color: #66c8c7;
    --romance-color: #ff758f;
    --sf-color: #480ca8;
    --tv-color: #ced4da;
    --thriller-coolor: #660708;
    --war-color: #FBB741;
    --western-color: #a18262;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 1.6rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#header{
    text-align: center;
}
.header-container, .categories-container, .main-container{
    margin: 0 20px;
}
.header-container{
    padding-bottom: 25px;
}

.return_arrow_container{
    width: 80%;
    margin: 20px auto 15px;
    text-align: left;
    cursor: pointer;
}

.header-title, .header-subtitle{
    font-weight: bold;
}
.header-title, .generic-title{
    margin-bottom: 10px;
    font-size: 4rem;
}
.header-subtitle{
    margin-top: 10px;
    font-size: 2.5rem;
}

.header-form{
    display: flex;
    justify-content: center;
}
.custom-container{
    height: 40px;
    width: 80%;
    max-width: 815px;
    display: inline-flex;
}
.custom-input--search{
    width: calc(100% - 80px);
    padding-left: 15px;
    color: var(--gray-font-color);
    border: none;
    border-right: 1px solid gray;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.custom-butn--search{
    border: none;
    width: 80px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.categories-container{
    height: 50px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
/*Hide scrollbar*/

.custom-scrollbar::-webkit-scrollbar {
    height: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--secondary-blue);
    border-radius: 15px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #25107E;
}
  
  

.categories-container{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.categories-pill{
    padding: 6px 11px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    scroll-snap-align: center;
    white-space: nowrap;
}

.section-title{
    font-size: 2.6rem;
    font-weight: bold;
}
.title-show-more{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-show-more{
    height: fit-content;
    padding: 10px;
    display: flex;
    background-color: #9DC5D2;
    border: none;
    border-radius: 20px;
}
.btn-show-more:hover{
    background-color: #ABCDD8;
}
.btn-show-more span{
    margin-right: 5px;
}
.movies-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 15px;
}
@media (min-width: 500px){
    .movies-grid{
        grid-template-columns: repeat(3, minmax(140px, 200px));
    }
}
@media (min-width: 650px){
    .movies-grid{
        grid-template-columns: repeat(4, minmax(140px, 200px));
    }
}
@media (min-width: 790px){
    .movies-grid{
        grid-template-columns: repeat(5, minmax(140px, 200px));
    }
}
@media (min-width: 955px){
    .movies-grid{
        grid-template-columns: repeat(6, minmax(140px, 200px));
    }
}
.movie-container{
    width: 100%;
}
.movie_container{
    cursor: pointer;
}
.movies-list{
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.movies-list .movie_container .movie-container--poster{
    width: 200px;
}

.movie-container--poster{
    width: 100%;
    background-color: gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.movie-container--movie-info{
    padding: 0 15px;
}
.movie-info--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
}
.movie-info--date, .movie-info--duration, .movie-info--calification{
    margin: 2px 0;
    font-size: 1.4rem;
}
.movie-info--categories-container{
    margin-top: 10px;
    padding: 0 15px;
}
.movie-info--categories-pill{
    width: fit-content;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}
.pill_moviePage{
    font-size: 1.2rem;
}


.movie-data--general-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 750px) {
    .movie-data--general-container{
        margin-top: 30px;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
    }
    .main-section-movie-data .movie-image{
        width: 100%;
        max-width: 300px;
        margin-top: 0 !important;
        margin-right: 30px;
    }
    .movie-data{
        width: 100%;
        max-width: 700px;
    }
    .movie-data .movie-data--title{
        margin-top: 0 !important;
    }
}
.main-section-movie-data .movie-image{
    width: 80%;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px #684BE7;
}
.main-section-movie-data .movie-data--title{
    font-size: 2.6rem;
    text-align: center;
}
.main-section-movie-data .movie-data--date, .main-section-movie-data .movie-data--duraction, .main-section-movie-data .movie-data--calification{
    font-size: 1.8rem;
    margin: 5px 0px;
}
.movie-data--description .description--title, .movie-data--categories .categories--title, .related--title{
    margin-bottom: 10px;
    font-size: 2.3rem;
    font-weight: bold;
}
.movie-data--description .description--content{
    margin-top: 0;
    font-size: 1.8rem;
    text-align: justify;
}
.main-section-movie-data .movie-data--categories .movie-data--categories-pill{
    width: fit-content;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.6rem;
    border-radius: 15px;
}
.movie-data--related{
    width: 100%;
}

#movies-grid--categories, #movies-grid--trending{
    margin-top: 20px;
}



#float_btn_up{
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    border: 2px solid var(--gray-font-color);
    background-color: var(--secondary-blue);
}
#float_btn_up span{
    background-color: var(--font-color);
}

.footer{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-blue);
}


.pill-28-bg{
    color: var(--gray-font-color);
    background-color: var(--action-color);
}
.pill-12-bg{
    color: var(--gray-font-color);
    background-color: var(--adventure-color);
}
.pill-16-bg{
    color: var(--gray-font-color);
    background-color: var(--animation-color);
}
.pill-35-bg{
    color: var(--gray-font-color);
    background-color: var(--comedy-color);
}
.pill-80-bg{
    color: var(--font-color);
    background-color: var(--crime-color);
}
.pill-99-bg{
    color: var(--gray-font-color);
    background-color: var(--documentary-color);
}
.pill-18-bg{
    color: var(--gray-font-color);
    background-color: var(--drama-color);
}
.pill-10751-bg{
    color: var(--gray-font-color);
    background-color: var(--famili-color);
}
.pill-14-bg{
    color: var(--font-color);
    background-color: var(--fantasy-color);
}
.pill-36-bg{
    color: var(--gray-font-color);
    background-color: var(--history-color);
}
.pill-27-bg{
    color: var(--font-color);
    background-color: var(--horror-color);
}
.pill-10402-bg{
    color: var(--font-color);
    background-color: var(--music-color);
}
.pill-9648-bg{
    color: var(--gray-font-color);
    background-color: var(--mistery-color);
}
.pill-10749-bg{
    color: var(--gray-font-color);
    background-color: var(--romance-color);
}
.pill-878-bg{
    color: var(--font-color);
    background-color: var(--sf-color);
}
.pill-10770-bg{
    color: var(--gray-font-color);
    background-color: var(--tv-color);
}
.pill-53-bg{
    color: var(--font-color);
    background-color: var(--thriller-coolor);
}
.pill-10752-bg{
    color: var(--gray-font-color);
    background-color: var(--war-color);
}
.pill-37-bg{
    color: var(--font-color);
    background-color: var(--western-color);
}



/*d-none*/
.d-none{
    display: none !important;
}